/* Box Model Hack */
* {
    box-sizing: border-box;
    border: 2px solid red;
    font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    
}


/******************************************
/* LAYOUT
/*******************************************/
/* main {
    background: black;
} */

.container {
    height: 500px;
    width: auto;
    margin: 5% auto 0 auto;
}

#input {
    height: 100px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* cursor: pointer; */
}

.button {
    text-align: center;
    font-size: 5rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/